<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Labyrinth of the Alchemist’s Flask</title>

    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/image/Screenshot 2024-02-28 085546.png" />
  </head>
  <body>
    <header>
      <nav id="top-menu"></nav>
      <!-- Add the <nav> element below -->
      <nav id="sub-menu"></nav>
    </header>
    <main>
      <section id="sec2_imageboard">
        <span class="sec2_imagespan">
          <p class="sec2_titletext">Elowen</p>
          <img
            class="sec2_image"
            id="mc"
            src="/image/portrait-of-a-girl-in-a-white-medical-coat-with-cat-ears-an-alchemist-girl-an-alchemist-laboratory-189171558.png"
            alt=""
          />
        </span>
        <span class="sec2_imagespan">
          <p class="sec2_titletext">Ancient City Of Arcanum</p>
          <img
            class="sec2_image"
            id="mc"
            src="/image/city-of-the-greek-olymp-modifiershighly-detailed-elegant-fantasy-very-attractive-beautiful-fantas-823781013.png"
            alt=""
          />
        </span>
        <!--         <span class="sec2_imagespan">
          <p class="sec2_titletext">Elowen</p>
          <img 
            style="max-width: 80%;"
            id="mc"
            src="/Image/portrait-of-a-girl-in-a-white-medical-coat-with-cat-ears-an-alchemist-girl-an-alchemist-laboratory-189171558.png"
            alt=""
          />
        </span> -->
      </section>
      <section id="sec3_dialoguebox">
        <span class="dialogue_box">
          <div style="display: flex; overflow:hidden;">
            <p class="name_tag" style="box-shadow: none; background-color: rgba(0, 0, 0, 0); margin-top: 1%;"><strong style="box-shadow: none; background-color: rgba(0, 0, 0, 0);">Prologue</strong></p>
            <p class="dialogue_Text">
              In the heart of the ancient yet bustling academia of Arcanum, a
              city where magic flowed like a hidden river, lived an eccentric
              alchemist named Elowen. Her workshop was a cluttered haven of
              bubbling flasks, dusty tomes, and peculiar artifacts. But her most
              prized possession sat atop a wooden pedestal—an intricately etched
              glass jar. Elowen believed that within this jar lay the essence of
              forgotten realms—a microcosm of existence. She called it the
              “Dungeon Jar,” and its secrets whispered to her in dreams. The
              layers of soil, each infused with mystical energies, held the key
              to creation itself.
            </p>
          </div>
          <div class="sec3_buttonContain">
            <div class="sec3_buttoncolumn">
              <button class="sec3_dialoguebutton">
                <strong><p>MENU</p></strong>
              </button>
              <button class="sec3_dialoguebutton">
                <strong><p>SETTINGS</p></strong>
              </button>
            </div>
            <div
              style="
                display: flex;
                max-height: 6vh;
                max-width: 6vw;
                border: none;
                align-content: space-around;
              "
              ;
            >
              <img ; src="/image/Xi5e.gif" alt="" />
            </div>
            <div class="sec3_buttoncolumn">
              <button class="sec3_dialoguebutton">
                <strong><p>ACTION</p></strong>
              </button>
              <button class="sec3_dialoguebutton" type="reset" onclick="window.location.href='http://127.0.0.1:5000/textgame/create_character'">
                <strong><p>NEXT</p></strong>
              </button>
            </div>
          </div>
        </span>
      </section>
    </main>
    <footer>
      CS STUDIO
      </footer>
    <script src="/script/create_menu.js"></script>
  </body>
</html>
